<div class="container">
    <div class="w-100 p-3">
        <form [formGroup]="checkoutForm" (ngSubmit)="postData()" >
            <div class="form-group pb-3">
              <label for="exampleInputEmail1">Email address</label>
              <input 
              type="email" 
              class="form-control" 
              id="exampleInputEmail1" 
              formControlName="email">
              <span *ngIf="checkoutForm.get('email').touched && checkoutForm.get('email').hasError('required')" > Enter email adress</span>
              <span *ngIf="checkoutForm.get('email').touched && checkoutForm.get('email').hasError('email')" > Enter valid email adress</span>
            </div>
            <div class="form-group pb-3">
              <label for="exampleInputPassword1">Password</label>
              <input 
              type="password" 
              class="form-control" 
              id="exampleInputPassword1"
              formControlName="password">
              <span *ngIf="checkoutForm.get('password').touched && checkoutForm.get('password').hasError('required')" > Enter password</span>
            </div>
            <div class="form-group pb-3 form-check">
              <input 
              type="checkbox" 
              class="form-check-input" 
              id="exampleCheck1"
              formControlName="terms">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="!checkoutForm.valid">Submit</button>
            <button type="reset" class="btn btn-sm btn-primary" (click)="reset()">Reset</button>  
        </form>
    </div>
    <p> {{this.valuechangedtracker}} </p>
</div>