<div class="container">
  <div class="row w-100 p-3">
    <div class="col-md-6">
      <form #signinform="ngForm" (ngSubmit)="eventsubmit(signinform)" >
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            name="email"
			ngModel
            required
            #emailadd="ngModel" 
          />
          <span class="bg-danger" *ngIf="emailadd.touched && !emailadd.valid">please enter email</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
			ngModel
            required
            #pswd="ngModel"
          />
          <span class="bg-primary" *ngIf="pswd.touched && !pswd.valid">please enter pasword</span>
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <textarea 
                rows="3"
                class="form-control" 
                id="Description" 
                name="description"
                ngModel
                > </textarea>
            </div>
        <button type="submit" class="btn btn-sm btn-primary mt-3" [disabled]="!signinform.valid" >Submit</button>
      </form>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
